.icon:before {
	font-family: "icon-fonts";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-up:before {
	content: "\E001";
}

.icon-delivery:before {
	content: "\E002";
}

.icon-garbadge:before {
	content: "\E003";
}

.icon-gear:before {
	content: "\E004";
}

.icon-logout:before {
	content: "\E005";
}

.icon-paint:before {
	content: "\E006";
}

.icon-tools:before {
	content: "\E007";
}
