/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-icon-advantages-1 {
  background-image: url(../image/sprite.png);
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}
.sprite-icon-advantages-2 {
  background-image: url(../image/sprite.png);
  background-position: -54px 0px;
  width: 54px;
  height: 54px;
}
.sprite-icon-advantages-3 {
  background-image: url(../image/sprite.png);
  background-position: -52px -54px;
  width: 35px;
  height: 54px;
}
.sprite-icon-advantages-4 {
  background-image: url(../image/sprite.png);
  background-position: 0px -54px;
  width: 52px;
  height: 54px;
}
.sprite-icon-contact-1 {
  background-image: url(../image/sprite.png);
  background-position: -108px -58px;
  width: 10px;
  height: 14px;
}
.sprite-icon-contact-2 {
  background-image: url(../image/sprite.png);
  background-position: -118px -58px;
  width: 10px;
  height: 14px;
}
.sprite-icon-contact-3 {
  background-image: url(../image/sprite.png);
  background-position: -124px -38px;
  width: 14px;
  height: 14px;
}
.sprite-icon-phone {
  background-image: url(../image/sprite.png);
  background-position: -108px 0px;
  width: 35px;
  height: 38px;
}
.sprite-play {
  background-image: url(../image/sprite.png);
  background-position: -108px -38px;
  width: 16px;
  height: 20px;
}
