@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header
    height: 860px
    
  .header__info
    display: none
    
  .header__img
    margin-top: 0
    
  .header__title
    margin-right: 20px
    font-size: 30px
    
  .header__menu
    margin-right: 0
    
  .portfolio__link
    height: 250px
    
  .portfolio__title
    line-height: 18px

  .services
    padding-top: 50px
    padding-bottom: 50px
    
  .services__wrap
    margin-top: 10px
    
  .services__grid
    height: 200px
    
  .free
    height: 400px
  
  .free__wrap
    height: 270px
    
  .free__text
    font-size: 18px
    
  .advantages
    margin-top: 50px
    
  .clients
    margin-top: 40px
    margin-bottom: 40px
    
  .product
    height: 350px
    
  .footer
    margin-top: 50px
    
  .footer__address
    margin-top: 20px
    margin-bottom: 20px
    
  .footer .container
    margin-bottom: 30px

    
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  
  /*Disable Animation on Mobile Devices*/
  .animated
    /*CSS transitions*/
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    /*CSS transforms*/
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    /*CSS animations*/
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  /**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/

