@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header
    //height: 860px
    
  .header__info
    display: none
    
  .header__img
    margin-top: 0
    
  .header__title
    margin-right: 10px
    font-size: 30px
    
  .header__menu
    margin-right: 0
    
  .portfolio__link
    height: 250px
    
  .portfolio__title
    line-height: 18px

  .services
    padding-top: 50px
    padding-bottom: 50px
    
  .services__wrap
    margin-top: 10px
    
  .services__grid
    justify-content: center
    
    padding-top: 0
    height: 200px
    
  .free
    height: 450px
  
  .free__wrap
    height: 270px
    
  .free__text
    font-size: 18px
    
  .advantages
    margin-top: 50px
    
  .clients
    margin-top: 40px
    margin-bottom: 40px
    
  .product
    height: 350px
    
  .footer
    margin-top: 50px
    
  .footer__contacts
    flex-basis: 350px
    
    margin-left: 10px
    
  .footer__address
    margin-top: 20px
    margin-bottom: 20px
    
  .footer__btn
    padding: 22px
    
  .footer__bg
    height: 20px
    
  .footer .container
    margin-bottom: 30px

    
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  
  /*Disable Animation on Mobile Devices*/
  .animated
    /*CSS transitions*/
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    /*CSS transforms*/
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    /*CSS animations*/
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important
    
  .header
    height: auto
    background-attachment: inherit
    
  .header__main
    justify-content: center
    
  .header__preview
    flex-basis: auto
    flex-direction: column
    
  .header__title
    margin-bottom: 15px
    padding: 15px
    
  .container .header__menu
    display: none
    
  .hamburger,
  #mobile-menu,
  .site-overlay
    display: inline-block
  
  .header__main
    margin-top: 10px
    margin-bottom: 10px
    
  .portfolio__list
    flex-wrap: wrap
    
  .portfolio__item
    flex: 1 1 300px
    
  .portfolio__link
    height: 175px
    
  .portfolio__wrap-img
    height: 115px
    
  .portfolio__img
    height: 100px
    
  .description__title
    font-size: 25px
   
  .services__grid
    height: 150px
    
  .free
    background-position: 50% 0
    background-attachment: inherit
    
  .free__img-wrap
    display: none
    
  .advantages__grid
    flex-basis: 300px
    
  .product
    background-image: linear-gradient(to top, rgba(103, 14, 122, 0.7) 100%, rgba(103, 14, 122, 0.7) 100%), url("../image/bg/production-bg-640.jpg")
    
  .product__wrap
    margin: 0 10px
    text-align: center
    
  .product__text
    margin: 20px 0
    line-height: 25px
    
  .footer .container
    flex-wrap: wrap
    
  .modal
    margin: 0
    padding: 0
    width: 100%
    
  .modal__close
    top: 0
    right: 15px
    
  .modal__close:before
    content: "x"
    font-size: 30px
    color: $red
    z-index: 103
    
  .modal__input
    max-width: 100%
    width: calc(100% - 20px)
    margin: 10px
    
  .modal__btn
    margin: 38px 5px 19px 5px
    //max-width: 100%
    width: calc(100% - 20px)
    
  .footer__map-container
    flex: 1 1 440px
    

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header__logo-link
    margin-right: 72px
    
  .header__title
    padding: 5px
    text-align: center
    font-size: 23px
    word-spacing: 5px
  
  .services__grid
    height: 120px
    
  .services__wrap-icon
    height: 70px
    width: 70px
    font-size: 50px
  
  .free__wrap
    height: auto
    
  .advantages__grid
    flex-wrap: wrap
    flex-direction: column
    text-align: center
  
    margin-bottom: 20px
    
  .advantages__wrap-icon
    margin: 0 auto
    
  .advantages__title
    margin-bottom: 0
    
  .clients__wrap
    flex-direction: column
    
  .clients__grid
    flex: auto
  
  .product
    height: 350px
    background-image: linear-gradient(to top, rgba(103, 14, 122, 0.7) 100%, rgba(103, 14, 122, 0.7) 100%), url("../image/bg/production-bg-480.jpg")
    
  .btn
    margin-right: 10px
