$default-font: "OpenSans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif

$innerGrid: 1200px

$black: #000
$blackMiddle: #333333

$greyDark: #666666
$greyMiddle: #7f7f7f
$greyLight: #999999

$white: #fff
$red: #cb0529
$purple: #670e7a
