@import "libs"
@import "vars"
@import "./_icons/font-icon"
@import "./_icons/sprite-icon"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

	
/*------------------ MY STYLE -----------------
	HEADER
	FOOTER */
 
.container
	display: flex
	flex-direction: column
	
	height: 100%
	max-width: $innerGrid
	margin: 0 auto
	
/*------------------ HEADER ------------------*/

.header
	width: 100%
	height: 700px
	background: linear-gradient(to top, rgba(173, 173, 173, 0.1) 0%, rgba(255, 255, 255, 0.1) 47%, rgba(215, 215, 215, 0.2) 100%), url("../image/bg/header-bg.svg") $greyLight no-repeat center
	background-size: cover

	&__main
		display: flex
		justify-content: space-between
			
		margin-top: 50px
		
	&__logo-link
		margin-left: 10px
		margin-right: 10px
		
	&__logo-img
		@extend %img-responsive
	
	&__info
		display: flex
		justify-content: space-between
		
	&__phone-icon
		margin-right: 12px
		@extend .sprite-icon-phone
	
	&__wrap-info
	
	&__phone-call
		color: $black
		font-size: 30px
		font-weight: 400
		line-height: 10px
		letter-spacing: -1.8px
		text-transform: uppercase
		text-decoration: none
		white-space: nowrap
	
	&__working-hours
		margin: 0 0 0 2px
		font-size: 12px
		font-weight: 400
		line-height: 11px
		letter-spacing: -0.7px
	
	&__menu
		margin-right: -10px
		
	&__list
		display: flex
		justify-content: space-between
		
		width: 100%
		margin: 0
		padding: 0
		list-style-type: none
		
	&__item
		position: relative
		margin: 0 10px
		
	&__link
		display: block
		padding: 16px 2px
		border-top: 2px solid transparent
		font-size: 16px
		font-weight: 400
		text-transform: uppercase
		letter-spacing: -1.1px
		text-decoration: none
		white-space: nowrap
		color: $white
		
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 2px
			background: $white
			transform: scale3d(0, 1, 1)
			transition: transform .25s
			
		&:hover::before,
		.header__item--active > &::before
			transform: scale3d(1, 1, 1)
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
			transition-duration: 0.3s
	
	&__preview
		display: flex
		align-items: center
		
		height: 100%
	
	&__wrap-img
		flex: 0 1 auto
		
	&__img
		margin-top: 35px
		@extend %img-responsive
		
	&__title
		width: 435px
		margin: 0 8px 45px
		padding: 25px 30px
		border: 4px solid $white
		font-size: 40px
		font-weight: 800
		text-transform: uppercase
		letter-spacing: -2.4px
		line-height: 45px
		color: $white

/*------------------ PORTFOLIO ------------------*/
.portfolio
	max-width: 100%
	
	&__menu
	
	&__list
		display: flex
		
		width: 100%
		margin: 0
		padding: 0
		list-style-type: none
		
	&__item
		flex: auto
		
		position: relative
		margin: 0
		border: 1px solid $greyLighter
		background-color: $whiteMiddle
		
	&__link
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		
		height: 300px
		text-decoration: none
		
		&::before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 10px
			background: $red
			transform: scale3d(0, 1, 1)
			transition: transform .25s
		
		&:hover::before,
		.portfolio__item--active > &::before
			transform: scale3d(1, 1, 1)
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
			transition-duration: 0.3s
		
	&__wrap-img
		display: flex
		align-items: center
		
		height: 188px
		
	&__img
		@extend %img-responsive
		
	&__title
		margin: 0
		font-size: 18px
		font-weight: 800
		text-transform: uppercase
		letter-spacing: -1.08px
		color: $greyDark













/*------------------ FOOTER ------------------*/


@import "fonts"
@import "media"
